<header class="fixed top-0 left-0 w-full z-50 bg-white shadow-sm h-16">
  <div class="max-w-10xl mx-auto px-4 sm:px-6 lg:px-20 h-full">
    <div class="flex justify-between items-center h-full">
      
      <!-- Logo -->
      <div class="flex items-center h-full">
        <a routerLink="/">
          <img src="assets/images/medicuitylogo.png" alt="medicuitylogo" class="h-9 md:h-10 w-auto" />
        </a>
      </div>

      <!-- Desktop Navigation -->
      <div class="hidden md:flex items-center space-x-6 font-sans text-base">
        <nav class="flex space-x-6">
          <a routerLink="/"    routerLinkActive="!text-blue-600 font-medium" 
     [routerLinkActiveOptions]="{exact: true}"  class="hover:text-blue-600 text-gray-700">Home</a>
          <a routerLink="/solutions" routerLinkActive="!text-blue-600 font-medium" class="text-gray-700 hover:text-blue-600">Solutions</a>
          <a routerLink="/about"  routerLinkActive="!text-blue-600 font-medium"  class="text-gray-700 hover:text-blue-600">About</a>
          <a routerLink="/contact"   routerLinkActive="!text-blue-600 font-medium"  class="text-gray-700 hover:text-blue-600">Contact</a>
        </nav>
        <a href="#demo-form" (click)="onRequestDemoClick()"
   class="bg-blue-600 text-white px-5 py-2.5 rounded-xl hover:bg-blue-700 transition-colors text-base">
   Request Demo
</a>
      </div> 

      <!-- Mobile Menu Button -->
      <div class="md:hidden">
        <button (click)="toggleMobileMenu()" class="text-gray-600 focus:outline-none">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>

    </div>
  </div>

  <!-- Mobile Navigation -->
  <div *ngIf="mobileMenuOpen" class="md:hidden px-4 pb-4 space-y-2 font-poppins text-base font-semibold bg-white">
  <a routerLink="/"  [routerLinkActiveOptions]="{exact: true}"   routerLinkActive="!text-blue-600 font-medium"  (click)="onMobileLinkClick()" class="block text-gray-700 hover:text-blue-600">Home</a>
  <a routerLink="/solutions" routerLinkActive="!text-blue-600 font-medium"  (click)="onMobileLinkClick()" class="block text-gray-700 hover:text-blue-600">Solutions</a>
  <a routerLink="/about"  routerLinkActive="!text-blue-600 font-medium"   (click)="onMobileLinkClick()" class="block text-gray-700 hover:text-blue-600">About</a>
  <a routerLink="/contact"  routerLinkActive="!text-blue-600 font-medium"  (click)="onMobileLinkClick()" class="block text-gray-700 hover:text-blue-600">Contact</a>
  <a href="#demo-form" (click)="onRequestDemoClick(); onMobileLinkClick()"
     class="block text-white bg-blue-600 hover:bg-blue-700 transition px-6 py-3 rounded text-center">
    Request Demo
  </a>
</div>

</header>
