<div *ngIf="isModalOpen"
     class="fixed inset-0 z-50 flex items-center justify-center bg-black/10 backdrop-blur-sm">

  <div class="bg-white rounded-lg p-4 sm:p-6 w-[95%] sm:w-full max-w-3xl relative shadow-xl overflow-hidden">

    <button
      (click)="closeModal()"
      class="absolute top-2 right-2 text-2xl text-gray-500 hover:text-black">
      &times;
    </button>

    <iframe
      [src]="calendlySafeUrl"
      class="rounded-lg w-full h-[75vh]"
      frameborder="0"
      allowfullscreen>
    </iframe>

  </div>
</div>
